ICMPv6 troubleshooting in presence of C-SIDs

The use of C-SIDs might cause some difficulty in troubleshooting error conditions signaled by ICMPv6.  Section 5.4 of [RFC8754] describes the ICMPv6 error processing that is required to be performed on the SR Source Nodes to correlate packets since the Destination Address of the packet changes in flight.  

Similar logic needs to be specified for SR Source Nodes that use C-SIDs to determine the Destination Address for use by protocol-error handlers.

Added text in revision -03 ([Sec. 10.3](https://datatracker.ietf.org/doc/html/draft-ietf-spring-srv6-srh-compression-05#section-10.3)) generalizing the RFC 8754 behavior for the SIDs defined in draft-ietf-spring-srv6-srh-compression.

- Repeatedly apply the SID behavior until doing so would result in processing the upper-layer header
- The destination address at the last iteration is the ultimate destination of the packet


Closed as per WG Poll.